.slider {
  background: pink;
  height: 500px;
}

.content {
  background: pink;
  .container {
    @include container;
  }
}
.footer {
  background: green;
  .container {
    @include container;
  }
}
